#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  margin: 20px auto;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.revealed {
  background-color: #eee;
}

.mine {
  background-color: red;
}

/* Add more styles as needed */